{% extends 'accounts/main.html' %}

{% block content %}

<div class="row" >
        <div class="col-md">
                <div class="card card-body">
                    <h5>Customer:</h5>
                    <hr>
                    <a class="btn btn-outline-info btn-sm-block" href="#"> Update Customer</a>
                    <a class="btn btn-outline-info btn-sm-block" href="{% url 'create_order' customers.id %}"> Place Orders</a>
                </div>
            </div>

            <div class="col-md">
                <div class="card card-body">
                    <h5>Contact Information:</h5>
                    <hr>
                    <p>Email: {{ customers.email}}</p>
                    <p>Phone: {{customers.phone}}</p>
                </div>
            </div>
     <div class="col-md">
                <div class="card card-body">
                    <h5>Total Orders:</h5>
                    <hr>
                    <h1 style="text-align:center; padding: 10px">{{order_count}}</h1>
                </div>
            </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Products</th>
                    <th>Category</th>
                    <th>Ordered date</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.product.category}}</td>
                    <td>{{order.created_date}}</td>
                    <td>{{order.status}}</td>
                    <td><a href="{% url 'update_order' order.id%}">Update</a></td>
                    <td><a href="{% url 'delete_order' order.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
       {% endblock %}